#topnav ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0;
	overflow: hidden;
	padding: 0;
}

#topnav li {
	float: left;
}

#logo h1 span {
	color: #0285CE;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: steelblue;
}

a:link,a:visited {
	display: block;
	width: 110px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: steelblue;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

h1,h2,h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #006666;
}

a:hover,a:active {
	background-color: #666666;
}
</
style
>