.BumpChartClass .x.axis path, .BumpChartClass .x.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.BumpChartClass .y.axis path {
    fill: none;
}

.BumpChartClass .y.axis line {
    fill: none;
    stroke: #eeeeee;
    shape-rendering: crispEdges;
}/* ConfigurationPane */

.ConfigurationPaneClass {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.ConfigurationPaneClass label {
    font-size: small;
}

.ConfigurationPaneClass table {
    width: 100%;
}

.ConfigurationPaneClass div,
.ConfigurationPaneClass .panel-body,
.ConfigurationPaneClass .panel-heading,
.ConfigurationPaneClass table,
.ConfigurationPaneClass td > label,
.ConfigurationPaneClass th,
.ConfigurationPaneClass td {
    padding: 0px !important;
    margin: 0px !important;
}

.ConfigurationPaneClass h1,
.ConfigurationPaneClass h2,
.ConfigurationPaneClass h3,
.ConfigurationPaneClass h4,
.ConfigurationPaneClass h5,
.ConfigurationPaneClass h6 {
    padding: 2px !important;
    margin: 0px !important;
}

.ConfigurationPaneClass h1 {
    font-size: 1.8em !important;
    font-weight: normal !important;
    color: white;
    background-color: #878787;
    text-align: center;
}

.ConfigurationPaneClass h2 {
    font-size: 1.5em !important;
    font-weight: normal !important;
    color: white;
    background-color: #3288bd;
    text-align: center;
}

.ConfigurationPaneClass h3 {
    font-size: 1.2em !important;
    font-weight: normal !important;
    color: white;
    background-color: #1a9850;
    text-align: center;
}

.ConfigurationPaneClass h4 {
    font-size: 1em !important;
    font-weight: normal !important;
    color: white;
    background-color: #d58512;
    text-align: center;
}

.ConfigurationPaneClass h5 {
    font-size: .9em !important;
    font-weight: normal !important;
    color: white;
    background-color: #3e999f;
    text-align: center;
}

.ConfigurationPaneClass h6 {
    font-size: .8em !important;
    font-weight: normal !important;
    color: white;
    background-color: #91765d;
    text-align: center;
}

.ConfigurationPaneClass h1:hover,
.ConfigurationPaneClass h2:hover,
.ConfigurationPaneClass h3:hover,
.ConfigurationPaneClass h4:hover,
.ConfigurationPaneClass h5:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    color: yellow;
}

.ConfigurationPaneClass .control-boolean label,
.ConfigurationPaneClass .control-boolean input,
.ConfigurationPaneClass .control-string label,
.ConfigurationPaneClass .control-string input {
    padding: 1px !important;
    margin: 0px !important;
}

.ConfigurationPaneClass .control-float {
    margin: 10px;
}
.ConfigurationPaneClass .slider {
    margin-bottom: 10px !important;
}
/**
.ConfigurationPaneClass .slider {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}
**/
.ConfigurationPaneClass .slider-handle {
    top: 5px !important;
}
/* DataFilterPane */
.DataFilterPaneClass {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.DataFilterPaneClass h4 {
    text-align: center;
    width: 100%;
    background: #428bca;
    color: white;
    padding: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.DataFilterPaneClass h5 {
    width: 100%;
    color: black;
    padding: 0px;
    text-align: center;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Trigger button */
.DataFilterPaneClass .btn-group {
    width: 100%;
}

.DataFilterPaneClass #ColumnSelector {
    height: 160px;
    margin-bottom: 5px;
    width: 100%;
}

.DataFilterPaneClass .slider {
    width: 95% !important;
    margin-left: 5px;
}

.DataFilterPaneClass .multiselect {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.dex-tooltip-table tr:first-child th {
    background: #337ab7;

    text-align: center;
    font-size: 2em;
    font-family: "Segoe UI";
    font-weight: normal;
    font-style: italic;

    padding: 1px 15px 1px 1px;
    color: #ffffff;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.dex-tooltip-table thead {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.dex-tooltip-table thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dex-tooltip-table thead th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dex-tooltip-table tbody tr td {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 1px 15px 1px 1px;
    border-bottom: 1px solid #337ab7;
}

.dex-tooltip-table tbody tr:nth-child(2n) {
    background: rgb(226, 239, 251);
}

.dex-tooltip-table tbody tr:last-child td {
    border-bottom: none;
}

.dex-tooltip-table tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dex-tooltip-table tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/**
<div style='height:100%;width:100%;display:flex;align-items:center;" +
"justify-content:center;'><h1 style='text-align:center;width:100%;" +
"background:#428bca;color:white;'>No Data</h1></div>");

*/

.dex-exception-title {
    font-size: 3em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3e999f;
    color: white;
}

.dex-exception-msg {
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #d58512;
    color: white;
}

/** Dex Legends **/
.dex-legend {}
.dex-legend-group-title {
    clear:both;
    font-size: 1.4em;
}
.dex-legend-item {
    float: left;
    padding: 1px;
    text-align: center;
    margin: 1px;
    font-size: .8em;
}

.dex-legend-item:hover {
    opacity: .8;
    color: yellow;
    stroke-width: 2;
}

.SankeyClass .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.SankeyClass .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

/*
.SankeyClass .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
*/

.SankeyClass .link:hover {
    stroke-opacity: .5;
}

.ui-tooltip {
    background: white;
    border: 2px solid white;
    opacity: 1;
    padding: 2px 2px;
    color: white;
    /**border-radius: 20px;**/
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}

.dex-multiples-cell {
    float: left;
    padding: 2px;
}

.dex-multiples-cell-title {
    background: #337ab7;

    text-align: center;
    font-size: 1em;
    font-family: "Segoe UI";
    font-weight: normal;

    color: #ffffff;
}/* GuiPane */
/** Treemap **/
.TreemapClass text {
    pointer-events: none;
}

.TreemapClass .grandparent text {
    font-weight: bold;
}

.TreemapClass rect {
    fill: none;
    stroke: #fff;
}

.TreemapClass rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

.TreemapClass .grandparent rect {
    fill: steelblue;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.TreemapClass .children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.TreemapClass .children rect.parent {
    fill-opacity: .1;
}

.TreemapClass .children:hover rect.child {
    fill-opacity: .8;
}

/** Treemap Bar Chart **/

.TreemapBarChartClass label {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    left: 92px;
    top: 26px;
}

.TreemapBarChartClass .axis .domain {
    display: none;
}

.TreemapBarChartClass .axis line {
    stroke: #ccc;
}

.TreemapBarChartClass .axis.x0 text {
    font-weight: 700;
}

.TreemapBarChartClass .hover-active rect {
    opacity: .75;
}

.TreemapBarChartClass .hover-active rect.hover {
    opacity: 1;
}
